<div class="container odd">
	<h1>Contact</h1>
	<p>Send me a message or connect with me on social media below.</p>

	<form [formGroup]="contactForm" (ngSubmit)="submitForm()">
		<div class="formBody">
			<div class="inputGroup">
				<div class="formContainer">
					<label for="name">Name:</label>
					<input formControlName="nameInput" type="text" placeholder="Nick" id="name" name="name" required minlength="4" [ngClass]="checkError('name')" aria-describedby="nameError" (focus)="setError('name')" />
					<span id="nameError" [ngClass]="checkErrorMsg('name')">Please enter your name.</span>
				</div>

				<div class="formContainer">
					<label for="email">Email:</label>
					<input formControlName="emailInput" type="email" placeholder="example@gmail.com" id="email" name="email" [ngClass]="checkError('email')" aria-describedby="emailError" (focus)="setError('email')" />
					<span id="emailError" [ngClass]="checkErrorMsg('email')">Please enter a valid email address.</span>
				</div>
			</div>

			<div class="formContainer">
				<label for="message">Message:</label>
				<textarea formControlName="messageInput" id="message" name="message" rows="4" placeholder="Message" [ngClass]="checkError('message')" aria-describedby="messageError" (focus)="setError('message')"></textarea>
				<span id="messageError" [ngClass]="checkErrorMsg('message')">Please don't send messages that are too short.</span>
			</div>
		</div>

		<div class="formFooter">
			<button type="submit" class="btn primary">Submit</button>
		</div>
	</form>

	<div class="socialContainer">
		<a href="https://www.instagram.com/imnickbruh/" target="_blank" class="socialCircle">
			<span class="icon-instagram icon-medium"></span>
		</a>
		<a href="https://www.linkedin.com/in/nick-david-barnette/" target="_blank" class="socialCircle">
			<span class="icon-linkedin icon-medium"></span>
		</a>
		<a href="https://github.com/nicholasbarnette" target="_blank" class="socialCircle">
			<span class="icon-github icon-medium"></span>
		</a>
	</div>
	
</div>