<div class="container">
	<h1>Iconly</h1>
	<div class="body">
		<a href="http://nicholasbarnette.com/iconly" target="_blank">http://nicholasbarnette.com/iconly</a>
		<p>I started this project in order to be able to easily integrate SVG images  into my applications. I have created an icon font that anyone is able to import into their HTML pages. The site has the ability to browse the available icons and will soon allow for people to request custom icons.</p>
	</div>
</div>
<div class="divider"></div>
<div class="container">
	<h2>Overview</h2>
	<div class="body">
		<p>I wanted a way to import my set of icons into multiple different applications. Since I am reusing them, I wanted a way to update the icons in one location and for the updates to propogate through all of my other applications. In the end, I decided that I would just create an icon font and allow anyone and everyone to use them.</p>
		<div class="iconContainer">
			<div class="rowContainer">
				<span class="icon-home icon-medium"></span>
				<span class="icon-hamburger icon-medium"></span>
				<span class="icon-close icon-medium"></span>
				<span class="icon-profile icon-medium"></span>
				<span class="icon-search icon-medium"></span>
			</div>
			<div class="rowContainer">
				<span class="icon-github icon-medium"></span>
				<span class="icon-linkedin icon-medium"></span>
				<span class="icon-instagram icon-medium"></span>
				<span class="icon-letter icon-medium"></span>
				<span class="icon-code icon-medium"></span>
			</div>
		</div>
		<p>To be able to use these icons, one will just need to import a single JavaScript file into the head tag of their page. This technique allows me to have control over what CSS files people will be pulling in, so if I ever did want to give more or less access to certain people, I would be able to do so without breaking the import for everyone.</p>
	</div>
</div>
<div class="divider"></div>
<div class="container questions">
	<h2>Questions?</h2>
	<p>If you have any questions, please click the button below to go to my contact form.</p>
	<a class="btn primary" href="contact">CONTACT</a>
</div>