<nav [ngClass]="calculateClasses()" [attr.aria-hidden]="!display" (click)="testClick($event)" id="navContainer">
	<button type="button" class="openMenu" (click)="toggleNavigation()" [attr.aria-hidden]="display">
		<span class="icon-hamburger icon-medium"></span>
	</button>
	<div class="navContainerInner" id="navContainerInner">
		<button type="button" class="close" (click)="toggleNavigation()">
			<span class="icon-close icon-medium"></span>
		</button>
		<ul class="navlist">
			<li class="navitem" (click)="toggleNavigation()"><a routerLink="">
				<span class="icon-home icon-medium"></span>
				<span>Home</span>
			</a></li>
			<li class="navitem" (click)="toggleNavigation()"><a routerLink="projects">
				<span class="icon-code icon-medium"></span>
				<span>Projects</span>
			</a></li>
			<li class="navitem" (click)="toggleNavigation()"><a href="/assets/resume.pdf" target="_blank">
				<span class="icon-project icon-medium"></span>
				<span>Resume</span>
			</a></li>
			<li class="navitem" (click)="toggleNavigation()"><a routerLink="contact">
				<span class="icon-letter icon-medium"></span>
				<span>Contact</span>
			</a></li>
		</ul>
	</div>
</nav>