.container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.header {
	font-size: var(--font-size-xl);
	margin-bottom: 2rem;
	text-transform: uppercase;
}

.subheader {
	font-size: var(--font-size-lg);
	margin-bottom: 4rem;
	text-transform: uppercase;
}
