.navigationBar {
	width: 100%;
	padding: 1rem 2rem;
	background-color: var(--navigation-bg);
	color: var(--color-text-dark);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	position: fixed;
	border-bottom: 2px solid var(--navigation-dark-bg);
}

.left {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;

	> a > svg {
		height: 3rem;
		width: auto;
		fill: var(--color-text-dark);
	}
}

.right {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
}
