@import './assets/global';

@font-face {
	font-family: 'Rubik';
	src: url('./assets/Rubik-Regular.ttf') format('truetype');
}

* {
	font-family: Rubik, sans-serif;
}

body {
	background: var(--page-bg);
	background: var(--page-bg);
	color: var(--color-text-light);
}

#root {
	width: 100%;
	height: 100%;
}
