@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?30743248');
  src: url('../font/fontello.eot?30743248#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?30743248') format('woff2'),
       url('../font/fontello.woff?30743248') format('woff'),
       url('../font/fontello.ttf?30743248') format('truetype'),
       url('../font/fontello.svg?30743248#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?53973437#fontello') format('svg');
  }
}
*/

[class^="icon-"],
[class*=" icon-"] {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

[class^="icon-"].light,
[class*=" icon-"].light {
  color: #FFFFFF;
}

[class^="icon-"].dark,
[class*=" icon-"].dark {
  color: #343434;
}


 
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.icon-404:before { content: '\e800'; } /* '' */
.icon-add:before { content: '\e801'; } /* '' */
.icon-check:before { content: '\e802'; } /* '' */
.icon-chevron-down:before { content: '\e803'; } /* '' */
.icon-chevron-left:before { content: '\e804'; } /* '' */
.icon-chevron-right:before { content: '\e805'; } /* '' */
.icon-chevron-up:before { content: '\e806'; } /* '' */
.icon-close:before { content: '\e807'; } /* '' */
.icon-code:before { content: '\e808'; } /* '' */
.icon-completed:before { content: '\e809'; } /* '' */
.icon-copy:before { content: '\e80a'; } /* '' */
.icon-create:before { content: '\e80b'; } /* '' */
.icon-down:before { content: '\e80c'; } /* '' */
.icon-facebook:before { content: '\e80d'; } /* '' */
.icon-github:before { content: '\e80e'; } /* '' */
.icon-graduation:before { content: '\e80f'; } /* '' */
.icon-hamburger:before { content: '\e810'; } /* '' */
.icon-home:before { content: '\e811'; } /* '' */
.icon-instagram:before { content: '\e812'; } /* '' */
.icon-letter:before { content: '\e813'; } /* '' */
.icon-linkedin:before { content: '\e814'; } /* '' */
.icon-phone:before { content: '\e819'; } /* '' */
.icon-play:before { content: '\e81a'; } /* '' */
.icon-plus:before { content: '\e81b'; } /* '' */
.icon-profile:before { content: '\e81c'; } /* '' */
.icon-project:before { content: '\e81d'; } /* '' */
.icon-search:before { content: '\e81e'; } /* '' */
.icon-triangle-down:before { content: '\e820'; } /* '' */
.icon-triangle-left:before { content: '\e821'; } /* '' */
.icon-triangle-right:before { content: '\e822'; } /* '' */
.icon-triangle-up:before { content: '\e823'; } /* '' */
.icon-twitter:before { content: '\e825'; } /* '' */
.icon-x-mark:before { content: '\e826'; } /* '' */
.icon-minus:before { content: '\e829'; } /* '' */
.icon-options-horizontal:before { content: '\e82a'; } /* '' */
.icon-options-vertical:before { content: '\e82b'; } /* '' */
.icon-pause:before { content: '\e82c'; } /* '' */
.icon-stop:before { content: '\e82d'; } /* '' */